<%- include("partials/header") %>
<section>
        <div class="container">
            <h1 class="text-center mb-5">Search Results</h1>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">RGEN Target Sequence</th>
                            <th class="text-center"># of Matches</th>
                            <th class="text-center">Match Sources</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% for(const key in targets) { %>
                        <tr>
                          <td class="text-center">
                            <%= i %>
                          </td>
                          <td class="text-center">
                            <%= key %>
                          </td>
                          <td class="text-center">
                            <%= targets[key] / 3 %>
                          </td>
                          <td class="text-center">
                            <%= i %>
                          </td>
                        </tr>
                      <% i++ } %>
                        <!-- <tr>
                            <td class="text-center">1.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">2.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">3.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">4.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">5.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">6.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">7.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">8.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">9.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td class="text-center">10.</td>
                            <td class="text-center">CTCTGGTCGGGCACGACGCG<br></td>
                            <td class="text-center">2/10<br></td>
                            <td class="text-center">Crispr-direct, CAS-designer, CCTOP, CCTOP, CRISPRRPR&nbsp;<br></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
<%- include("partials/footer") %>
